
.columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  padding: 10px;
}

.column img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.full-width-image {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 10px;
  box-sizing: border-box; /* Include padding in width */
}

.full-width-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding in width */
}

.two-columns-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.two-column-item {
  padding: 10px;
}

.two-column-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}