
/* Shop */
#Shop .columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#Shop .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#Shop .column p,
#Shop .column i {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

#Shop .column img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
}

#Shop .dropdown {
  max-width: 100%;
  display: none;
  background-color: #000000;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

#Shop .hidden {
  display: none;
}

#Shop .visible {
  display: block;
}

#Shop p {
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.2em;
  padding: 0px 20px;
}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  background-color: #000000;
}

.checkout-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}

.checkout-button:hover {
  color: #ffffff;
  background-color: #000000;
  transform: scale(1.05);
}

.checkout-button:active {
  background-color: #5f9ea0;
  transform: scale(0.95);
}