.slideshow-container {
  max-width: 600px; /* Adjust as needed */
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  position: absolute;
  bottom: 10px;
  left: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 5px;
}

.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 100px;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 0s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
